<!DOCTYPE html>
<html>
<head>
    <title>Home</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" defer></script>

    <!-- Custom JS -->
    <script src="/js/script.js" defer></script>
</head>
<body>
    <header class="bg-primary text-white text-center p-3">
        <h1>MSD Props</h1>
    </header>
    <main class="container mt-4">
        <p class="lead">You can find all the merchandise related to THALA on this Website</p>
        <div class="container">
    <h3 class="h3">Thala Personal Accessories</h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="\static\images\Untitled.jpg">
                        <img class="pic-2" src="\static\images\tshirt.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">20%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">THALA's T-Shirt</a></h3>
                    <div class="price">$7.00
                        <span>$70.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="\static\images\Untitled.jpg">
                        <img class="pic-2" src="\static\images\cup.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
{#                    <span class="product-new-label">Sale</span>#}
{#                    <span class="product-discount-label">50%</span>#}
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">THALA's Signed Cup</a></h3>
                    <div class="price">$7.00
                        <span>$70.00</span>
                    </div>
                    <a class="add-to-cart" href="/buynow">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="\static\images\untitled.jpg">
                        <img class="pic-2" src="\static\images\bat.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
{#                    <span class="product-new-label">Sale</span>#}
{#                    <span class="product-discount-label">50%</span>#}
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">THALA's Bat</a></h3>
                    <div class="price">$7.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="/buynow">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="\static\images\untitled.jpg">
                        <img class="pic-2" src="\static\images\sticker.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
{#                    <span class="product-new-label">Sale</span>#}
{#                    <span class="product-discount-label">50%</span>#}
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">THALA's Stickers</a></h3>
                    <div class="price">$7.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="/buynow">+ Add To Cart</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
<hr>
<div class="row">
     <form action="/submit" method="POST" class="mt-3">
        <label for="username">Name:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>

        <button type="submit">Submit</button>

        <a href="/about" class="btn btn-primary">Go to About Page</a>
</div>
        <br>
        <br>
        <br>
        <br>

    </main>
    <footer class="bg-light text-center py-3">
        <p>© 2025 THALA fans</p>
    </footer>
</body>
</html>
